header {
    text-align: center;
    color: #230750;
    font-family: 'Bevan', cursive;
    font-size: 70px;
    background-color: aliceblue;
}
section{

}
article{
    position: absolute;
    top: 25%;
    right: 20%;
    color: #3c0855;
    font-family: 'Krona One', sans-serif;
}
.conteiner{
    align-items: center;
}
p{
    position: absolute;
    top: 30%;
    right: 5%;
    font-family: 'Syne', sans-serif;
    color: #000;
    font-size: large;

}
iframe{
    position: absolute;
    top: 105%;
    left: 7%;
}
img{
    position: absolute;
    top: 25%;
    left: 5%;
}
aside{
    position: absolute;
    top: 95%;
    left: 5%;
    color: #3c0855;
    font-family: 'Krona One', sans-serif;
}
